body{
max-width:1200px;
margin:auto;
font-size: 14px;
line-height: 16px;
}
.head{
	
}

.list{
	display: inline-flex;
font-size:13px;
color: #64829c;
font-family: arail;
}

.list ul li{
	display: inline-flex;

}
li a{
	text-decoration:none; 
}
